
<div class="contenedor">
  <header>
    <h1 class="title">Productos y proveedores</h1>
  </header>
  <div class="Proveedor">
    <h2 class="title">Zona Proveedores</h2>
  <div class="listado"> 
    <h4 class="title">Listado de proveedores</h4><h5>(Selecciona uno para editar o eliminar)</h5>
    
  <table>
    <th>ID</th>
    <th>Nombre</th>
    <th>Direccion</th>
    <th>Telefono</th>
 
    <tr *ngFor="let proveedor of proveedorArray"
      (click)="Editar(proveedor)"
      [class.Seleccionado]="proveedor== ProveedorSeleccionado">
      <td> {{proveedor.id}}</td>
      <td> {{proveedor.nombre}}</td> 
      <td> {{proveedor.direccion}}</td>  
      <td> {{proveedor.telefono}}</td>
  </tr>
  </table>
</div>
  <div class="Insertar">
    <article class="fondo">
    <div class="form">
        <h3>Inserta un nuevo proveedor</h3>
        <label class="labeln">Nombre:</label>
        <input class="inp" type="text" required [(ngModel)]="ProveedorSeleccionado.nombre" placeholder="Ingresa un nombre"> 
        <label class="labeln">Direccion:</label>
        <input class="inp" type="text" required [(ngModel)]="ProveedorSeleccionado.direccion" placeholder="Ingresa la direccion"> 
        <label class="labeln">Telefono:</label>
        <input class="inp" type="text" required [(ngModel)]="ProveedorSeleccionado.telefono"  maxlength="12" placeholder="000-000-0000" pattern="[0-9]{3}[ -][0-9]{3}[ -][0-9]{4}" title="Formato: 000-000-0000"> 
        <button class="button" (click)="Enviar()">Enviar</button>
        <button class="button" *ngIf="ProveedorSeleccionado.id !== 0"
        (click)="Eliminar()">Eliminar</button>
    
      </div>
     
   
  </article>
  
  </div> 
</div>

</div>
<app-productos></app-productos>