*{
    margin: 0;
    padding: 0;
    font-family: Josefin Sans;
    color: #fff;
  }
  .productos{
    border: 1px solid rgb(236, 220, 220);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contenedor{

    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  
  header{
    width: 100%;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0,.3)
  }
  header h1{
    margin-left: 30px;
    font-family: montez;
    font-size: 30px;
  }
  .Insertar{
    margin-top: 130px;
    margin-bottom: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    height: 100%;
  }
  .listado{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    margin:0;
    display: flex;
    flex-direction: column;
    align-content: center;
    border-radius: 5px;
    margin-top: 5%;
  }
  .listado table{
    width: 50%;
    border-collapse: collapse;
 
  }
  .listado table td{
    border: oldlace;
    border: 1px solid rgb(236, 220, 220);
  }
  .listado table th{
    background-color: #4CAF50;
   color: white;
   border: oldlace;
    border: 1px solid rgb(236, 220, 220);
  }
  .listado li{
    list-style: none;
    text-decoration: none;
  }
  .fondo{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    margin:0;
    display: flex;
    flex-direction: column;
    align-content: center;
    border-radius: 5px;
  }
  .fondo img{
    margin-top: -75px;
    margin-bottom: 40px;
    width: 25%;
    align-self: center;
    border-radius: 50%;
  }
  .fondo h3{
    color: #fff;
    text-align: center;
    font-size: 30px;
    margin-bottom: 40px;
  }
  .fondo{
    width: 70%;
  }
  .inp{
    box-shadow: 0;
    border: 0;
    background-color: rgba(255, 255, 255, .1);
    width: 90%;
    margin-bottom: 35px;
    height: 30px;
    border: solid 2px rgba(255,255,255,.5);
    font-size: 20px;
    color: #fff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: left;
    transition: all 250ms ease;
  }
  .inpSelec{
    box-shadow: 0;
    border: 0;
    background-color: rgba(0, 0, 0, 0.1);
    width: 90%;
    margin-bottom: 35px;
    height: 30px;
    border: solid 2px rgba(255,255,255,.5);
    font-size: 20px;
    color: #fff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: right;
    transition: all 250ms ease;
  }
  .label{
    color: #fff;
    text-align: center;
    font-size: 18px;
    margin-bottom: 40px;
  }
  .labeln{
    color: #fff;
    font-size: 18px;
  }
  .inpSelec:focus{
    outline:0px;
    background-color: rgba(255, 255, 255, .6);
    border: solid 2px rgba(255,255,255,.01);
    color: #000;
  }
 .inp:focus{
    outline:0px;
    background-color: rgba(255, 255, 255, .6);
    border: solid 2px rgba(255,255,255,.01);
    color: #000;
  }
 
  .button{
    width: 100%;
    height: 30px;
    font-size: 22px;
    border: 0;
    text-align: center;
    background: rgba(255, 0, 0, 0.0);
    border-bottom: solid 1px #fff;
    color: #fff;
    margin-top: 10px;
    transition: all 200ms ease;
  }
  .button:hover{
    width: 120%;
    margin-left: -10%;
  }
  .button:active{
    background-color: rgba(255, 255, 255,0.2);
    outline: 0;
    border: 0;
    border-radius: 5px;
  }
  .button:focus{
    background-color: rgba(255, 255, 255,0.2);
    outline: 0;
    border: 0;
    border-radius: 5px;
  }

  .button:hover{
    border: 100%;
  }

  .Seleccionado{
 background-color: rgba(211, 211, 211, 0.664);
  }